body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 16px;
  justify-content: space-evenly;
}

a:link {
  text-decoration: none;
}

a {
  color: #f9faf8;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.blue {
  background-color: #1f2937;
  color: white;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

/* section-1 */
.section-1 {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  gap: 80px;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.section-1-content {
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.left-side button {
  background-color: #3882f6;
  color: white;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
}

.right-side {
  background-color: #e5e7eb;
}

/* section-2 */
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 80px;
}

.section-2-container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
}

.cards img {
  border: 5px solid #3882f6;
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

/* section-3 */
.section-3 {
  background-color: #e5e7eb;
  padding: 80px;
}

.section-3-content {
  margin: 40px 70px;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.figcaption {
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  font-size: 27px;
}
/* section-4 */
.call-to-action {
  background-color: #3882f6;
  color: white;
  padding: 40px;
  margin: 80px;
  border-radius: 10px;
}

.square-left {
  display: flex;
  justify-content: flex-start;
}

.square-right {
  display: flex;
  justify-content: flex-end;
}

.section-4-button {
  background-color: #3882f6;
  color: white;
  border: white 2px solid;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
