body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.blue {
  background-color: #1f2937;
  color: white;
}
/* header */
.header {
  display: flex;
}

/* section-1 */

/* section-2 */

/* section-3 */

/* section-4 */

/* footer */
